{% extends "base.html" %}
{% load static %}

{% block sayfaBaslik %}
Report User
{% endblock sayfaBaslik %}

{% block sayfaIcerik %}
<div class="container">

  {% for message in messages %}
  <p id="success-message">{{message}}</p>
  {% endfor %}

  <h2 id="report-title">Şikayet Bildiri Sayfasi</h2>
  <hr id="report-hr">

  <!-- Şikayet edilmek istenen tweet -->
  <div class="createtweet-container">
    <div class="createtweet-content">
      <p>@{{tweet.user}}</p>
      <p id="createtweet-post">{{tweet.post}}</p>
      <p id="createtweet-date">({{tweet.createdAt}})</p>
      {% if request.user.id == tweet.user.id or request.user.is_superuser or request.user.is_moderator %}
      <p> <a href="{% url 'delete_tweet' tweet.id %}"> <i class="fa-solid fa-trash-can" style="color: #121212;"></i> </a> </p>
      {% endif %}

    </div>


    <!-- Şikayeti olusturma formu  -->
    {% if request.user.isApproved or request.user.is_admin or request.user.is_moderator %}
    <div class="report-form">
      <form action="{% url 'report_user' tweet.id user.id %}" method="post">
        {% csrf_token %}

        {{reportform}}
        <button type="submit"> <i class="fa-regular fa-paper-plane" style="color: #020636;"></i> </button>
      </form>
    </div>
    {% endif %}

  </div>

  <!-- Şikayetlerin gösterildigi alan -->
  <h2 id="report-title2">Şikayetler
    {% if request.user.isApproved and request.user.id == tweet.id or request.user.is_admin or request.user.is_moderator  %}
    ({{tweet.reports.count}})
    {% endif %}
  </h2>
  <hr id="report-hr2">

  
  {% for report in tweet.reports.all %}
    {% if  request.user.id == report.reportedBy.id and request.user.isApproved or request.user.is_admin or request.user.is_moderator  %}
    
    <div class="report-tweet-content">
    <p>@{{report.reportedBy}}</p>
    <p id="report-tweet-post">{{report.reportMessage}}</p>
    <p id="report-tweet-date">({{report.createdAt}})</p>
    {% if request.user.id == report.reportedBy.id or request.user.is_admin or request.user.is_moderator %}
      <p> <a href="{% url 'delete_report' tweet.id report.id%}"> <i class="fa-solid fa-trash-can" style="color: #121212;"></i> </a> </p>
    {% endif %}
    </div>

    {% endif %} 
  {% endfor %}

  


  <script>
    setTimeout()
  </script>

  <script src="{% static 'scripts/handleMessages.js' %}"></script>


</div>


{% endblock sayfaIcerik %}