{% extends 'base.html' %}

{% block sayfaBaslik %}
Sign Up
{% endblock sayfaBaslik %}

{% block sayfaIcerik %}
<div class="container">
  <h2 id="register-title">Sign Up</h2>
  <hr id="reg-hr">

    <!-- sing_up (registration) formu -->
  <form class="regform" action="{% url 'signupPage' %}" method="post">
    {% csrf_token %}

    {{regform}}

    <p id="kayitYazi">Zaten bir hesabiniz var mi? buradan <a href="{% url 'loginpage' %}">giris yapabilirsiniz!</a> </p>

    <div class="reginBtn">
      <button type="submit">Sign Up</button>
    </div>

  </form>

</div>

<script>
 document.querySelectorAll("form label").forEach(element => {
    element.remove()
  })
</script>

{% endblock sayfaIcerik %}